<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Val | OSIS SMA IGS</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='/assets/logo-fix.png') }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <meta name="description" content="Official Website for OSIS SMA IGS" />
    <meta
      name="robots"
      content="OSIS, Credence, Asteration, Valiance, OSIS Website, Ignatius Global School, OSIS IGS, OSIS SMA IGS, OSIS Ignatius Global School, Web Osis IGS, Website OSIS IGS, Web OSIS Igantius Global School, Website OSIS Ignatius Global School, Val the Phoenix, Val, Maskot, Maskot OSIS SMA IGS, Maskot Valiance, Val Valiance, Val, Valiance AI, Maskot OSIS, AI OSIS"
    />
   <meta name="googlebot" content="Official Website for OSIS SMA IGS" />
   <meta name="googlebot" content="notranslate" />

  <!-- Highlight.js dan marked.js -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/atom-one-dark.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.3.0/marked.min.js"></script>

  <!-- Box Icon -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <!-- Tombol toggle sidebar -->
  <button class="sidebar-toggle">
    <i class="fas fa-bars"></i>
  </button>

  <div class="app-container">
    <aside class="sidebar">
      <div class="logo">
        <div class="welcome-logo-img" id="sidebar-logo"></div>
        <div class="model-name">
            <h1>Val the Phoenix</h1>
            <p>Gemini 2.0 Flash</p>
        </div>
      </div>
      <button class="new-chat-btn">
        <i class="fas fa-plus"></i> Chat Baru
      </button>
    
      <button class="back-btn">
        <i class="fa-solid fa-arrow-right"></i> Back to Valiance
      </button>

      <div class="history">
        <h3>Riwayat Percakapan</h3>
        <ul class="chat-history">
          <!-- History items will be added dynamically -->
        </ul>
      </div>
      <div class="sidebar-footer">
        <p class="copyright">Copyright © 2025 Sekbid Multimedia Website Valiance</p>
        <a href="https://github.com/OSISSMAIGS/Valiance-AI"><i class='bx bxl-github'> Github Repository</i></a>
      </div>
    </aside>

    <main class="content">
      {% block content %}
      
      {% endblock %}
    </main>
  </div>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
</body>
</html>